In [3]:
def num(x,y):     
      return x*y

In [ ]:
def class1(name,branch='CSE'):
    print(f"my name is {name} and my branch is {branch}")

class1(name='Prashansa', branch = 'Civil')

In [13]:
def add(x,y):
    print(x+y)
    print(x*y)
    
add(2,6)

8
12

In [12]:
# def function_name(arguements):       # definition
    # block of code

# function_name(parameters)            # function calling 

def add():
    x =5
    y =2
    print(x+y)

add()

7

In [11]:
for x in range(0,20):
    if x == 5:
        continue
    print(x)

for x in range(0,20):
    if x == 5:
        break
    print(x)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
0
1
2
3
4

In [10]:
x= 5
while x<10:
    print(x)
    x+=1

5
6
7
8
9

In [9]:
dct ={'name':['ritik', 'rohit'] , 'age': 34, 'phone': 7505482944}
for x in dct.keys():
    print(x)

for x in dct.items():
    print(x)

name
age
phone
('name', ['ritik', 'rohit'])
('age', 34)
('phone', 7505482944)

In [6]:
for i in range(2,20,3):
    print(i)

2
5
8
11
14
17

In [5]:
for x in range(1,20):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
# lst = [1,2,3,4,5]
# for x in lst:
#     print(x)

for x in range(20):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
x= 5
if x>10:
    print("x is greater than 10")
else:
    print("x is smaller than 10")

x is smaller than 10

In [2]:
grade = int(input("enter the grade:"))
if grade >= 90:
    print("A grade")
elif grade>=80 and grade < 90:
    print("B grade")
elif grade >= 70 and grade < 80:
    print("C grade")
elif grade >= 60 and grade < 70:
    print("D grade")
else:
    print("fail")

A grade

In [3]:
class first:
    def info(self):
        name = "akash"
        age = 22
        print(name)
        print(age)
st_obj=first()
st_obj.info()

akash
22

In [13]:
class A:
    name = "aaksh"
class B(A):
    age = 22
obj = B()
obj.name

'aaksh'

In [17]:
class A:
    def info(self):
        age = 22
        print(age)
class B(A):
    def info(self):
        age = 34
        print(age)
    obj=B()
    obj.info()

34

In [ ]:
class College:
    def __init__(self,name,salary ,department):
        self.name=name
        self.__salary=salary
        self.department=department

    def info(self):
        print(self.name)
        

class Account(College):
    def display(self):

        print(self.department)

obj = College(name="prashansa" , salary=45000, department="tech")
obj1= Account(name="neha", salary= 40000 , department="marketing")
obj.info()
obj1.display()
obj.College_salary

In [5]:
class College:
    def __init__(self, name, salary, department):
        self.name = name
        self.__salary = salary
        self.department = department

    def info(self):
        print(self.name)

class Account(College):
    def display(self):
        print(self.department)

obj = College( name="akash", salary=30000, department="Account")
obj1 = Account(name="neha", salary=40000, department="marketing")
obj.info()
obj1.display()

akash
marketing

In [38]:
try:
    value = int(input("Enter the valid value"))
    result=10/value
    
except Exception as e :
    print("invalid value")

else:
    print("the correct answer is")
    print(result)

finally:
    print("see you next time")
    print("Thanks you")

the correct answer is
3.3333333333333335
see you next time
Thanku you

In [39]:
square = lambda x : x*2 
print(square(3))

6

In [52]:
add=lambda x,y: x+y

print(add(3,5))

8